<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("365 Days Fitness", "Index", "Home", 
                new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Health News", "Index", "Articles")</li>
                <li>@Html.ActionLink("Fitness Courses", "Index", "Webinars")</li>
                <li>@Html.ActionLink("Ask From a Expert", "ExpertContact", "Home")</li>
                <li>@Html.ActionLink("Gym Search", "GymSearch", "Home")</li>
                <li>@Html.ActionLink("Contact us", "Contact", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<br/>
